@media only screen and (max-width: 800px) {
  .about-content {
    display: block;
  }
  .about-items:first-child {
    margin-bottom: 20px;
  }
  .about-items img {
    height: 60%;
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .project-item {
    width: 75%;
  }
}

/* for-mobile */
@media only screen and (max-width: 550px) {
  .navbar ul li {
    overflow-y: hidden;
  }
  .navbar ul li a {
    color: rgb(44, 241, 255);
  }
  .navbar ul li a:hover {
    color: gold;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar ul {
    justify-content: center;
  }
  #logo {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  #showcase {
    height: 85vh;
  }
  #name {
    font-size: 2rem;
  }
  .title1 {
    font-size: 1.5rem;
  }
  #up p {
    font-size: 0.8rem;
    width: 80%;
  }
  .resume {
    padding: 10px;
  }
  #line {
    margin-top: 2rem;
  }
  #wel1 {
    font-size: 1.5rem;
  }
  .title2 {
    font-size: 1.1rem;
  }
  .about-items img {
    height: 70%;
    width: 70%;
  }
  .about-items hr {
    width: 250px;
  }
  .b1 {
    font-size: 0.9rem;
  }
  .project-item {
    display: block;
    width: 85%;
  }
  .project-content {
    margin-top: 20px;
  }
  .item-right {
    margin-left: 14%;
  }
  .resume:hover {
    border-color: #64ffda;
    color: gold;
  }
}
@media only screen and (max-width: 450px) {
  * {
    overflow-x: hidden;
  }
}
